.category {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    padding: 4px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 999px;
    white-space: nowrap;
    background-color: rgb(0, 7, 136);
}
